<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.samuelmeuli.tmignore</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/tmignore</string>
		<string>run</string>
	</array>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>10</integer>
		<key>Minute</key>
		<integer>0</integer>
	</dict>
	<key>StandardOutPath</key>
	<string>/tmp/tmignore-out.log</string>
	<key>StandardErrorPath</key>
	<string>/tmp/tmignore-err.log</string>
</dict>
</plist>
